src/main/resources/schemas/egisso/cls-KMSZ-changes-1.0.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:egisso="urn://egisso-ru/types/basic/1.0.2"
  xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
  xmlns="urn://egisso-ru/types/cls-KMSZ-changes/1.0.2"
  targetNamespace="urn://egisso-ru/types/cls-KMSZ-changes/1.0.2"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>

  <!--
  ****************************************************************************************************
  Тип данных: изменения КМСЗ
  ****************************************************************************************************
  -->

  <xsd:import namespace="urn://egisso-ru/types/basic/1.0.2" schemaLocation="egisso-basic-types-1.0.2.xsd" />
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="../smev3/smev-supplementary-commons-1.0.1.xsd" />

  <xsd:element name="modifications" type="tClsKMSZChanges">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        изменения КМСЗ
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="tClsKMSZChanges">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: изменения КМСЗ
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="reestrMSZ" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Изменения в Реестре МСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modification" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Изменение
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" type="smev:digits-4" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="type" type="tChangingType" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="partsKMSZ" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Изменения в Разделах КМСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modification" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Изменение
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" type="smev:digits-6" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="type" type="tChangingType" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="listCategories" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Изменения в Перечне категорий
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modification" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Изменение
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\d{8}" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="type" type="tChangingType" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="levelsNPA" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Изменения в Справочнике уровней НПА
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modification" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Изменение
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" type="smev:digits-2" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="type" type="tChangingType" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fundingSources" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Изменения в Справочнике источников финансирования
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modification" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Изменение
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" type="smev:digits-4" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="type" type="tChangingType" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="provisionForms" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Изменения в Справочнике форм предоставления
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modification" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Изменение
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" type="smev:digits-2" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="type" type="tChangingType" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="rulesKMSZ" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Изменения в Правилах КМСЗ
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="modification" minOccurs="1" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  Изменение
                </xsd:documentation>
              </xsd:annotation>
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="code" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:pattern value="\d{4}\.\d{8}\.\d{2}\.\d{4}\.\d{2}\.\d{6}" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="type" type="tChangingType" minOccurs="1" maxOccurs="1">
                    <xsd:annotation>
                      <xsd:documentation xml:lang="ru">
                        Код записи
                      </xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="tChangingType">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: тип изменения
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            «1» - «Новая запись»,
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            «2» - «Изменена»,
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            «3» - «Отключена»
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>