src/main/resources/schemas/egisso/cls-KMSZ-version-1.0.2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:egisso="urn://egisso-ru/types/basic/1.0.2"
  xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
  xmlns="urn://egisso-ru/types/cls-KMSZ-version/1.0.2"
  targetNamespace="urn://egisso-ru/types/cls-KMSZ-version/1.0.2"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>

  <!--
  ****************************************************************************************************
  Тип данных: версия КМСЗ
  ****************************************************************************************************
  -->

  <xsd:import namespace="urn://egisso-ru/types/basic/1.0.2" schemaLocation="egisso-basic-types-1.0.2.xsd" />
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="../smev3/smev-supplementary-commons-1.0.1.xsd" />

  <xsd:element name="version" type="tClsKMSZVersion">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        версия КМСЗ
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="tClsKMSZVersion">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: версия КМСЗ
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="egisso:tClsVersion">
        <xsd:sequence>
          <xsd:element name="facets" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation xml:lang="ru">
                Фасеты КМСЗ
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="reestrMSZ" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Реестр МСЗ
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="MSZ" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Типовая МСЗ
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="code" type="smev:digits-4" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код МСЗ
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="name" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Наименование МСЗ
                                </xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="2000"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="codeParent" type="smev:digits-4" minOccurs="0" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код родительской МСЗ
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="partsKMSZ" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Разделы КМСЗ
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="partKMSZ" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Раздел КМСЗ
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="code" type="smev:digits-6" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код раздела
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="name" type="smev:string-500" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Наименование раздела
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="codeParent" type="smev:digits-6" minOccurs="0" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код родительского раздела
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="listCategories" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Перечень категорий
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="category" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Типовая категория
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="code" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код категории
                                </xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:pattern value="\d{8}" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="name" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Наименование категории
                                </xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="2000"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="codeParent" minOccurs="0" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код родительской категории
                                </xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:pattern value="\d{8}" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="levelsNPA" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Справочник уровней НПА
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="levelNPA" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Уровень НПА
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="code" type="smev:digits-2" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="name" type="smev:string-100" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Наименование
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="fundingSources" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Справочник источников финансирования
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="fundingSource" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Источник финансирования
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="code" type="smev:digits-4" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="name" type="smev:string-200" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Наименование
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="provisionForms" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Справочник форм предоставления
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="provisionForm" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Форма предоставления
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="code" type="smev:digits-2" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="name" type="smev:string-100" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Наименование
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="rulesKMSZ" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="ru">
                      Сведения о взаимосвязях (Правила КМСЗ)
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="ruleKMSZ" minOccurs="1" maxOccurs="unbounded">
                        <xsd:annotation>
                          <xsd:documentation xml:lang="ru">
                            Позиция правил
                          </xsd:documentation>
                        </xsd:annotation>
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="codePart" type="smev:digits-6" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код раздела
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="codeMSZ" type="smev:digits-4" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код типовой МСЗ
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="codeCategory" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код типовой категории
                                </xsd:documentation>
                              </xsd:annotation>
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:pattern value="\d{8}" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="codeNPA" type="smev:digits-2" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код уровня НПА
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="codeFundingSource" type="smev:digits-4" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код источника финансирования
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="codeForm" type="smev:digits-2" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Код формы предоставления
                                </xsd:documentation>
                              </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="reasons" minOccurs="1" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Основание для создания правила
                                </xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="NPA" minOccurs="1" maxOccurs="unbounded">
                                    <xsd:annotation>
                                      <xsd:documentation xml:lang="ru">
                                        НПА, устанавливающее правило
                                      </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                      <xsd:sequence>
                                        <xsd:element name="number" type="smev:string-20" minOccurs="1" maxOccurs="1">
                                          <xsd:annotation>
                                            <xsd:documentation xml:lang="ru">
                                              Номер НПА
                                            </xsd:documentation>
                                          </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="title" type="smev:string-100" minOccurs="1" maxOccurs="1">
                                          <xsd:annotation>
                                            <xsd:documentation xml:lang="ru">
                                              Наименование НПА
                                            </xsd:documentation>
                                          </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="date" type="xsd:date" minOccurs="1" maxOccurs="1">
                                          <xsd:annotation>
                                            <xsd:documentation xml:lang="ru">
                                              Дата принятия НПА
                                            </xsd:documentation>
                                          </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="authority" type="smev:string-100" minOccurs="1" maxOccurs="1">
                                          <xsd:annotation>
                                            <xsd:documentation xml:lang="ru">
                                              Орган принявший НПА
                                            </xsd:documentation>
                                          </xsd:annotation>
                                        </xsd:element>
                                      </xsd:sequence>
                                    </xsd:complexType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="relationRules" minOccurs="0" maxOccurs="1">
                              <xsd:annotation>
                                <xsd:documentation xml:lang="ru">
                                  Перечень связанных правил КМСЗ
                                </xsd:documentation>
                              </xsd:annotation>
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element name="ruleCode" minOccurs="1" maxOccurs="unbounded">
                                    <xsd:annotation>
                                      <xsd:documentation xml:lang="ru">
                                        Код связанного правила
                                      </xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:string">
                                        <xsd:pattern value="\d{4}\.\d{8}\.\d{2}\.\d{4}\.\d{2}\.\d{6}" />
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

</xsd:schema>
