src/main/resources/schemas/egisso/participant-card-1.0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:egisso="urn://egisso-ru/types/basic/1.0.1"
  xmlns:smev="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1"
  xmlns="urn://egisso-ru/types/participant-card/1.0.1"
  targetNamespace="urn://egisso-ru/types/participant-card/1.0.1"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>

  <!--
  ****************************************************************************************************
  Тип данных: карточка участника ЕГИССО 
  ****************************************************************************************************
  -->

  <xsd:import namespace="urn://egisso-ru/types/basic/1.0.1" schemaLocation="egisso-basic-types-1.0.1.xsd" />
  <xsd:import namespace="urn://x-artefacts-smev-gov-ru/supplementary/commons/1.0.1" schemaLocation="../smev3/smev-supplementary-commons-1.0.1.xsd" />

  <xsd:element name="participant" type="tParticipantCard">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Карточка участника ЕГИССО
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="tParticipantCard">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: карточка участника ЕГИССО
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="participantid" type="egisso:UUID" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            ИД Участника
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="code" type="egisso:tParticipantCode" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Код участника
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="title" type="smev:string-500" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Наименование участника
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="shortitle" type="smev:string-100" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Сокращенное наименование
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isactive" type="xsd:boolean" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Запись активна
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="type" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Тип участника
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:positiveInteger">
            <xsd:enumeration value="1">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  «1» - «ПД»
                </xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="2">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  «2» - «ОСЗ»
                </xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="3">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  «3» - «ПД+ОСЗ»
                </xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="4">
              <xsd:annotation>
                <xsd:documentation xml:lang="ru">
                  «4» - «ИС»
                </xsd:documentation>
              </xsd:annotation>
            </xsd:enumeration>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="start_date" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата начала действия записи
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="finish_date" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Дата окончания действия записи
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:element name="participantIS" type="tISinfo" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">
              Сведения об участнике-ИС
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="participantOrg" minOccurs="1" maxOccurs="1">
          <xsd:annotation>
            <xsd:documentation xml:lang="ru">
              Сведения об участнике-организации
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="inn" type="smev:LegalPersonINNType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    ИНН
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="kpp" type="smev:KPPType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    КПП
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ogrn" type="smev:OGRNCompanyType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    ОГРН
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="juraddress" type="smev:string-500" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    Юридический адрес
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="docnumber" type="smev:string-20" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    Номер документа
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="docdate" type="xsd:date" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    Дата утверждения документа
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="docname" type="smev:string-200" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    Наименование документа
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="provider" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    Сведения о поставщике
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="interactiontype" minOccurs="1" maxOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="ru">
                          Способ взаимодействия
                        </xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:positiveInteger">
                          <xsd:enumeration value="1">
                            <xsd:annotation>
                              <xsd:documentation xml:lang="ru">
                                «1» - «ИСПД»
                              </xsd:documentation>
                            </xsd:annotation>
                          </xsd:enumeration>
                          <xsd:enumeration value="2">
                            <xsd:annotation>
                              <xsd:documentation xml:lang="ru">
                                «2» - «ЛКПД»
                              </xsd:documentation>
                            </xsd:annotation>
                          </xsd:enumeration>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ISinfo" type="tISinfo" minOccurs="0" maxOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="ru">
                          Информация о подключенной ИС ПД
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="osz" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                  <xsd:documentation xml:lang="ru">
                    Сведения об ОСЗ
                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="providercode" type="egisso:tParticipantCode" minOccurs="1" maxOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="ru">
                          Код ПД, обслуживающий ОСЗ
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="territories" minOccurs="1" maxOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="ru">
                          Территории предоставления МСЗ
                        </xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="OKTMOcode" minOccurs="1" maxOccurs="unbounded">
                            <xsd:annotation>
                              <xsd:documentation xml:lang="ru">
                                Код ОКТМО
                              </xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="\d{8}" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="address" type="smev:string-500" minOccurs="1" maxOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="ru">
                          Фактический адрес
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="EMail" type="smev:EmailAddressType" minOccurs="1" maxOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="ru">
                          Адрес эл.почты для обращений граждан
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="siteURL" type="smev:string-100" minOccurs="0" maxOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation xml:lang="ru">
                          Адрес веб-сайта ОСЗ
                        </xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>  
  </xsd:complexType>

  <xsd:complexType name="tISinfo">
    <xsd:annotation>
      <xsd:documentation xml:lang="ru">
        Тип данных: информация о подключенной ИС
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="smevmnemonic" type="smev:string-50" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Мнемоника ИС в СМЭВ
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adminname" type="smev:string-100" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            ФИО администратора
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adminaddress" type="smev:EmailAddressType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Email техподдержки ИС
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adminphone" type="smev:PhoneNumberRFType" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="ru">
            Телефон техподдержки ИС
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>